body{
    background-color:grey

}
header > #img1{
    margin-left: 100px;

}


h1{
    color: darkolivegreen;
    font: bold;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.0rem;

}
nav{
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
word-spacing: 2.0rem;
text-transform:uppercase;
}

h3{
    color: rgb(47,79,79);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    letter-spacing: .08rem;
    text-decoration: underline;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    
}

.img {
   float: right;
   padding-left: 4.5px;
   margin-top: auto;
   margin-left: auto;
   margin-bottom: 80px;
   margin-right: 45px;
   
     
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery > article {
	width: 25%;
	margin: 1em;
}

.gallery > article > img {
	width: 100%;
}

footer {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    color: darkolivegreen;
}

footer > img {
	padding: 0.2em;
}

footer > span {
	flex-basis: 100%;
	text-align: center;
}

form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color:rgb(47,79,79);
    margin-left: 80px;
}

.info{
    float: right;
    color:rgb(47,79,79);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 80px;
}